.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-group {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 0;
  margin-top: 20px;
}



.buttons{
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 2px solid #007BFF;
  border-radius: 8px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons:hover {
  background-color: #007BFF;
  color: white;
}
